target_var:
    coyote: 'TotalCostUSD'
    lng: '3GT1401_3:314FT010.PNT'
    sasol: 'OXO-5FI696 Augusta'


data_split:
# - test_size: 
#     The size of the test set, default is 0.1, the size of the validation set is set to be the same as the test set.
#     If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the test split. 
#     If int, represents the absolute number of test samples.
# - shuffle: whether to shuffle the data before splitting, if shuffle=False then stratify must be None
# - stratify: 
#     If not None, data is split in a stratified fashion, using this as the class labels. 
#     Recommended for imbalanced datasets or in case of multi-label classification.
    test_size: 0.1
    other_config:
        random_state: 42
        shuffle: False
        stratify: null

pipeline_options:
    parse_dates: True
    time_scale: 'h' # 'h'/'d'/'w'/'m'
    anomaly: False
    outliers: False
    scaling: False
    missing_Values:
        drop_threshold: 0.5
        fill_method: "forward" # mean/median/mode/forward/back/notfill
    feature_engineering: 
        time_lag: False
        time_features: False
        gain: False
    feature_selection:
        do: False
        method: # dummy_feat_imp/borutashap/correlation
        select_num: 
        iter_num: 20
        threshold: 0.5